/* ===== Notification messages ===== */

.nNote { cursor: pointer; margin: 16px 0px 16px 0px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
#sidebar .nNote { margin: 0; border-radius: 0; border-left: none; border-right: none; box-shadow: 0 1px 1px #f5f5f5; -webkit-box-shadow: 0 1px 1px #f5f5f5; -moz-box-shadow: 0 1px 1px #f5f5f5; }
.nNote p { padding: 10px 25px 10px 25px; margin: 0px; text-align: center; font-weight: bold; text-shadow: 0 1px 0 #fff;  }
.nMessage p { font-size: 11px; }
.nWarning { border: 1px solid #f2d083; color: #826200; box-shadow: 0 1px 2px #fff0c7 inset, 0 1px 1px #dfdfdf; -webkit-box-shadow: 0 1px 2px #fff0c7 inset, 0 1px 1px #dfdfdf; -moz-box-shadow: 0 1px 2px #fff0c7 inset, 0 1px 1px #dfdfdf;
            background: #ffedbc;
            background: -moz-linear-gradient(top,  #ffedbc 0%, #fbe5a8 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffedbc), color-stop(100%,#fbe5a8));
            background: -webkit-linear-gradient(top,  #ffedbc 0%,#fbe5a8 100%);
            background: -o-linear-gradient(top,  #ffedbc 0%,#fbe5a8 100%);
            background: -ms-linear-gradient(top,  #ffedbc 0%,#fbe5a8 100%);
            background: linear-gradient(top,  #ffedbc 0%,#fbe5a8 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffedbc', endColorstr='#fbe5a8',GradientType=0 );
}

.nSuccess { box-shadow: 0 1px 2px #e3f4bf inset, 0 1px 1px #dfdfdf; -webkit-box-shadow: 0 1px 2px #e3f4bf inset, 0 1px 1px #dfdfdf; -moz-box-shadow: 0 1px 2px #e3f4bf inset, 0 1px 1px #dfdfdf; border: 1px solid #c1d779; color: #4f7307; 
            background: #d6efa1;
            background: -moz-linear-gradient(top,  #d6efa1 0%, #d0e69d 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6efa1), color-stop(100%,#d0e69d));
            background: -webkit-linear-gradient(top,  #d6efa1 0%,#d0e69d 100%);
            background: -o-linear-gradient(top,  #d6efa1 0%,#d0e69d 100%);
            background: -ms-linear-gradient(top,  #d6efa1 0%,#d0e69d 100%);
            background: linear-gradient(top,  #d6efa1 0%,#d0e69d 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6efa1', endColorstr='#d0e69d',GradientType=0 );
}

.nFailure { box-shadow: 0 1px 2px #fbb5b5 inset, 0 1px 1px #dfdfdf; -webkit-box-shadow: 0 1px 2px #fbb5b5 inset, 0 1px 1px #dfdfdf; -moz-box-shadow: 0 1px 2px #fbb5b5 inset, 0 1px 1px #dfdfdf; border: 1px solid #dfa59b; color: #7d2a1c;
            background: #f0b5a1;
            background: -moz-linear-gradient(top,  #f0b5a1 0%, #de9d8a 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b5a1), color-stop(100%,#de9d8a));
            background: -webkit-linear-gradient(top,  #f0b5a1 0%,#de9d8a 100%);
            background: -o-linear-gradient(top,  #f0b5a1 0%,#de9d8a 100%);
            background: -ms-linear-gradient(top,  #f0b5a1 0%,#de9d8a 100%);
            background: linear-gradient(top,  #f0b5a1 0%,#de9d8a 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b5a1', endColorstr='#de9d8a',GradientType=0 ); 
}
.nFailure > p { text-shadow: 0 1px 0 #DDD; }

.nInformation { border: 1px solid #bcd9f3; color: #4579aa;
                background: #deedf9;
                background: -moz-linear-gradient(top,  #deedf9 0%, #cde5f7 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deedf9), color-stop(100%,#cde5f7));
                background: -webkit-linear-gradient(top,  #deedf9 0%,#cde5f7 100%);
                background: -o-linear-gradient(top,  #deedf9 0%,#cde5f7 100%);
                background: -ms-linear-gradient(top,  #deedf9 0%,#cde5f7 100%);
                background: linear-gradient(top,  #deedf9 0%,#cde5f7 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deedf9', endColorstr='#cde5f7',GradientType=0 );
                box-shadow: 0 1px 2px #e9f3fb inset, 0 1px 1px #dfdfdf; -webkit-box-shadow: 0 1px 2px #e9f3fb inset, 0 1px 1px #dfdfdf; -moz-box-shadow: 0 1px 2px #e9f3fb inset, 0 1px 1px #dfdfdf;
}

.breadLinks { float: right; margin-right: 0px; margin-top: -28px; }
.breadLinks > ul:after { content: ""; display: block; clear: both; }
.breadLinks > ul > li { float: left;  position: relative; }
.breadLinks ul li strong { color: #B35D5D; margin-left: 4px; }
.breadLinks ul li a { color: #666666; display: block; }
.breadLinks ul li select { width: 150px; }

.highcharts {
	margin: 0 -20px -20px -20px;
}

#dateSelector {
	display: none;
	position: absolute;
	z-index: 50000;
	margin-top: 20px;
}